<!doctype html>
<!-- Page Heading -->


<div class="bootstrap-table" >
    <table data-toggle="table" 
           data-search="true"
           data-height="500"
           data-classes="table table-hover table-condensed"
           data-striped="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true">
        <thead>
            <tr>
            {{#createTableHeader vars}}
            {{/createTableHeader}}
            </tr>
        </thead>
    </table>
</div>
              