<!doctype html>
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
        <span class="toggle-button bs-tooltip" style="display: inline-block; cursor: pointer"
        data-toggle="tooltip" data-placement="right" title="Click to toggle sidebar"><i class="fa fa-sitemap"></i>
        </span>
         Explore cubes</h1>
    </div>
</div>
<!-- /.row -->

<div class="row" id="newwrapper">
    <div id="sidebar-wrapper"  class="col-lg-4">
        <form role="form" id="getcubes" method="get" action="getcubes">
            <i class="fa fa-shield fa-rotate-270"></i>
            <label>Pick a SPARQL endpoint</label>
            <div class="form-group form-inline">
                <select class="form-control" name="endpoint">
                    <option>http://www.fing.edu.uy/inco/grupos/csi/sparql</option>
                    <option>http://localhost:8890/sparql</option>
                </select>
                <input type="hidden" name="target" value="explorer"></input>
                <button type="submit" class="btn btn-xs btn-primary getcubes-btn">Get cubes</button>
            </div>
        </form>
 
          
        {{#if session.cubes}}
        <div class="panel panel-default" id="cubespanel">
             <div class="panel-heading" data-toggle="collapse" data-target="#collapseCubes">
                    <h3 class="panel-title accordion-toggle">
                            <i class="fa fa-cubes fa-fw"></i>   
                            Pick a QB4OLAP cube to query
                    </h3>
                </div>
                <div id="collapseCubes" class="panel-collapse collapse in">
                    <form role="form" method="get" action="getcompletecube">                     
                            {{#showCubes session.cubes "explorer"}}
                                {{name}}
                            {{/showCubes}}
                    </form>
                </div>
        </div>
        {{/if}}

        {{#if session.schema}}
        <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapseStructure">
            <h3 class="panel-title accordion-toggle">
                <i class="fa fa-cube fa-fw"></i>
                Cube structure           
            </h3>
        </div>
        <div id="collapseStructure" class="panel-collapse collapse in">
            <ul class="list-group">
                <li class="list-group-item">
                    <p class="list-group-item-text">
                    {{#showDimensions session.schema.dimensions}}
                    {{name}}
                    {{/showDimensions}}
                    </p>
                </li>
                <li class="list-group-item">
                    <h5 class="list-group-item-heading">Measures</h5>
                    <p class="list-group-item-text">
                    {{#showMeasures session.schema.measures}}
                    {{name}}{{uri}}
                    {{/showMeasures}}          
                </li>
            </ul>
        </div>
        </div>
        {{/if}}

    </div>

    <!-- /.col -->
    <div id="main-wrapper" class="col-lg-8">
        <div class="working" id="working" style="display: none">
            <i class="fa fa-refresh fa-spin fa-5x"></i>                          
        </div>
        {{#if session.instances}}
        {{#saveInstance session.instances}}
        {{/saveInstance}}
        <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-database"></i>
                    Dimension Instances
                </h3>
            </div>
            <div id="instancesPanel" class="panel-body" style="display: none">
                <div id="controls">
                    <div id="layouts" class="control">
                        <a id="radial_dim" class="active">Group Dimensions</a>
                        <a id="radial_hier">Group Hierarchies</a>
                         <a id="force">Organize in levels</a>
                    </div>
                </div>    
                <div id="vis"></div>
            <div class="row">
                <div id="info">
                    Built with <a target="_blank" href="http://d3js.org/">D3</a>       
                </div>
            </div>
            </div>
            </div>
            <div id="instancesError" class="panel-body" style="display: none">
                <div>Ups! too many instances to render them correctly </div>
            </div>
            </div>
        </div>  

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <label id="modalTitle"> </label>
                    </div>
                    <div class="modal-body">
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        




        
             
        
        {{/if}}
    </div>

  
<!-- /.row -->

   {{#section 'jquery'}}
    <script>
      $(document).ready(function () {
        
/*
        //schema panel tooltips
        $('li.schema').tooltip({
            placement : 'top',
            delay: { "show": 500, "hide": 100 },
        });
*/
         //get cubes 
        $('.getcubes-btn').on ("click",(function () {
            $('.working').show();
            $('#getcubes').submit();    
        }
        ));

        //hide side menu
        var $menu = $('#sidebar-wrapper');
        var $content = $('#main-wrapper');
        if ($.cookie('offcanvas') == 'hide') {
            $content.addClass('no-transition');
            $menu.hide();
            $menu.css('left', -($menu.outerWidth() + 10));
            $content.addClass('col-lg-12');
        }
        else if ($.cookie('offcanvas') == 'show') {
            $menu.show(1000).animate({ left: 0 });
            //  $menu.show();
            $content.removeClass('no-transition');
            $content.removeClass('col-lg-12');
        }

        $('#myModal').on('show.bs.modal', function () {
            $(this).find('.modal-dialog').css({
                      width:'40%x', //choose your width
                      height:'100%', 
                      'padding':'0'
               });
             $(this).find('.modal-content').css({
                      height:'100%', 
                      'border-radius':'0',
                      'padding':'0'
               });
             $(this).find('.modal-body').css({
                      width:'auto',
                      height:'100%', 
                      'padding':'0'
               });
        })

        $('.toggle-button').click(function () {
            $content.removeClass('no-transition');
            if ($menu.is(':visible')) {
                // Slide out
                $menu.animate({
                    left: -($menu.outerWidth() + 10)
                }, function () {
                    $menu.hide(1000);
                });
                $content.addClass('col-lg-12');
                $.cookie('offcanvas', 'hide');
            }
            else {
                // Slide in
                $menu.show(1000).animate({ left: 0 });
                $content.removeClass('col-lg-12');
                $.cookie('offcanvas', 'show');
            }
            if($content.hasClass('col-lg-12') && $menu.is(':hidden')) {
            $menu.animate({
                    left: 0
                }, function () {
                    $menu.show(1000);
                });
            //  $menu.show();
            $content.removeClass('no-transition');
            $content.removeClass('col-lg-12');
            }
        });

        //nodes tooltip
        $('.bs-tooltip').tooltip();


        //render cube instance data
        if(typeof cubeinstance !== 'undefined'  && cubeinstance.nodes.length>0){

            var myNetwork;
              myNetwork = Network();
              d3.selectAll("#layouts a").on("click", function(d) {
                var newLayout;
                newLayout = d3.select(this).attr("id");
                activate("layouts", newLayout);
                return myNetwork.toggleLayout(newLayout);
              });
              d3.selectAll("#filters a").on("click", function(d) {
                var newFilter;
                newFilter = d3.select(this).attr("id");
                activate("filters", newFilter);
                return myNetwork.toggleFilter(newFilter);
              });
              d3.selectAll("#sorts a").on("click", function(d) {
                var newSort;
                newSort = d3.select(this).attr("id");
                activate("sorts", newSort);
                return myNetwork.toggleSort(newSort);
              });
              
              $("#search").keyup(function() {
                var searchTerm;
                searchTerm = $(this).val();
                return myNetwork.updateSearch(searchTerm);
              });
             
             $('#instancesPanel').show();
             return myNetwork("#vis", cubeinstance);
        }else{
            $('#instancesError').show();

        }

      });
    </script>  
    {{/section}}
