<!doctype html>
<!-- Page Heading -->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="title">
                QB4OLAP
            </h1>
            <h2 class="subtitle">
                Business Intelligence over Linked Data
            </h2>

        </div>
   </div>
   
    <!-- /.row -->
    <div class="sides">
        <div class="col" >
            <i class="fa fa-sitemap big-icon"></i>
            <a class="button" href="explorer">Explore cubes</a>                    
        </div>
        <div class="col" >
            <i class="fa fa-dashboard big-icon"></i>
            <a class="button" href="queries">Query cubes</a>                    
        </div>
        <div class="col" >
            <i class="fa fa-info big-icon"></i>
            <a class="button" href="https://lorenae.github.io/qb4olap">More info</a>                    
        </div>
    </div>
   

    <!--
    <div class="col-md-4 ">
            <p>
                <a href="https://github.com/lorenae/qb4olap">QB4OLAP</a> is a RDFS Vocabulary for Business Intelligence over the Semantic Web. 
            </p>
            <p>
                It is an extension of the DataCube vocabulary (QB) that allows to represent OLAP cubes in RDF, and to implement OLAP operators (such as Roll-up, Slice, and Dice) as SPARQL queries directly on this RDF representation. 
                Data already published using QB can be extended and analyzed using QB4OLAP.
          </p>
    </div>
-->
     